html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: $white;
  color: $black;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.container {
  max-width: 1675px;
  margin: 0 auto;
}

.page__name {
  color: #c4c4c4;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 3.08px;
}

.page__title {
  padding-top: 32px;

  color: $black;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4.2px;
}

.page__text {
  padding-top: 54px;
  font-size: 22px;
  letter-spacing: 3.08px;
}

.btn-info {
  padding: 20px 84px;

  font-size: 18px;
  letter-spacing: 2.52px;

  border: 2px solid $white;

  &--black {
    border: 2px solid $black;
    color: $black;
  }
}

.info-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7.2px;
}

.info-text {
  padding: 35px 0 95px;
  color: $grey;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 4.2px;
}