.about {
  padding: 65px 0;
  color: $grey;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__info {
  max-width: 814px;
  align-self: center;

  &-name {
    color: #c4c4c4;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3.08px;
  }

  &-title {
    padding-top: 32px;

    color: $black;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4.2px;
  }

  &-text {
    padding-top: 54px;
    font-size: 22px;
    letter-spacing: 3.08px;
  }

  &-btn {
    margin-top: 64px;
  }
}


.about__img {
  box-shadow: 14px 15px 46px 1px rgba(0, 0, 0, 0.18);
}