.header {
  position: relative;
  width: auto;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: $white;

  a {
    color: $white;
  }

  &__title {
    font-size: 100px;
    font-weight: 700;
  }

  &__posttitle {
    margin-bottom: 22px;
    font-size: 30px;
    letter-spacing: 4.2px;
  }
}

.header-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.header__content {
  width: 100%;
  height: 100%;
}

.header__nav {
  padding-top: 45px;

  text-align: center;


  &-item {
    display: inline-block;

    &:not(:last-child) {
      padding-right: 100px;
    }
  }

  &-link {
    font-size: 20px;
    letter-spacing: 2.8px;
  }
}

// .header__content-flex {
//   width: auto;
//   height: 93vh;
//   display: flex;
//   justify-content: center;
// }

.header__hero {
  margin-left: 15px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__socials {
  position: absolute;
  top: 515px;
  right: -220px;
  transform: rotate(90deg);
  display: flex;

  &-link {
    font-size: 20px;
    letter-spacing: 2.8px;

    &:not(:last-child) {
      margin-right: 78px;
    }
  }
}